/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body {
    -webkit-font-smoothing: antialiased;
    background: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

body a {
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

/*----start-container----*/

.container { width: 70%; }

/*-----start-header----*/

.bg {
    background: url(../assets/images/baner.jpg) no-repeat 0px 0px;
    background-size: cover;
}

.header { }

.logo {
    float: left;
    margin-top: 0.6em;
}

.logo a {
    color: #303030;
    font-size: 2.5em;
    font-weight: 200;
    text-transform: uppercase;
}

.logo a:hover { text-decoration: none; }

.logo320 { display: none; }

/*----navbar-nav----*/

.top-header { padding: 0.8em 0em; }

.top-nav ul li a {
    color: #FFF;
    font-size: 0.9em;
    font-weight: 400;
    font-weight: 300;
    padding: 0.2em 1.5em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.top-nav ul li.active a,
.top-nav ul li a:hover { color: #EE2F1B; }

.logo a { display: block; }

/* top-nav */

.top-nav:before,
.top-nav:after {
    content: " ";
    display: table;
}

.top-nav:after { clear: both; }

nav {
    float: right;
    position: relative;
}

nav ul {
    float: right;
    margin: 0.9em 0;
    padding: 0;
}

nav li {
    display: inline;
    float: left;
    position: relative;
}

nav a {
    color: #fff;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    color: #00A2C1;
    text-decoration: none;
}

nav a#pull { display: none; }

/*Styles for screen 600px and lower*/

@media screen and (max-width: 768px) {
    nav {
        float: none;
        height: auto;
    }

    nav ul {
        display: block;
        height: auto;
        width: 100%;
    }

    nav li {
        position: relative;
        width: 100%;
    }

    nav li a { border-bottom: 1px solid #eee; }

    nav a {
        text-align: left;
        width: 100%;
    }
}

/*Styles for screen 515px and lower*/

@media only screen and (max-width: 768px) {
    nav {
        border-bottom: 0;
        float: none;
    }

    nav ul {
        background: #fff;
        display: none;
        height: auto;
        margin: 1.5em 0 0 0;
    }

    nav a#pull {
        color: #F26D7D;
        display: block;
        position: relative;
        position: absolute;
        text-align: right;
        top: 23px;
    }

    nav a#pull:after {
        background: url('nav-icon.png') no-repeat;
        content: "";
        display: inline-block;
        height: 30px;
        position: absolute;
        right: 15px;
        top: 10px;
        width: 30px;
    }

    nav a#pull img { margin-right: 0%; }

    .top-nav ul li a {
        color: #2C3E50;
        padding: 0.4em 0;
    }
}

/*Smartphone*/

@media only screen and (max-width: 320px) {
    nav { float: none; }

    nav li {
        display: block;
        float: none;
        width: 100%;
    }

    nav li a { border-bottom: 1px solid #EEE; }
}

/*---- benner ----*/

.banner-info { padding: 9em 0 12em; }

.banner-info h1 {
    color: #FFF;
    display: inline-block;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.3em;
    text-transform: uppercase;
    width: 70%;
}

.banner-info span {
    background: #35C2F8;
    display: inline-block;
    height: 1px;
    width: 15%;
}

.banner-info p {
    color: #CCCCCC;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.7em;
    margin: 1em auto;
    width: 50%;
}

/*---- services ----*/

.services { padding: 3em 0; }

.service-head h2 {
    color: #222222;
    font-size: 2.6em;
    font-weight: 900;
    text-transform: uppercase;
}

.service-head span {
    background: #35C2F8;
    display: inline-block;
    height: 1px;
    width: 15%;
}

.service-grid span {
    background: url(../assets/images/services-icons.png) no-repeat 0px 0px;
    display: inline-block;
    height: 64px;
    width: 64px;
}

.service-grid h3 a {
    color: #222;
    font-size: 0.875em;
    font-weight: 600;
    text-transform: uppercase;
}

.service-grid h3 a:hover {
    color: #777777;
    text-decoration: none;
}

.service-grid p {
    color: #888888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7em;
}

.service-grid span.service-icon1 { background-position: 0px 0px; }

.service-grid span.service-icon2 { background-position: -391px 2px; }

.service-grid span.service-icon3 { background-position: -779px 4px; }

.services-grids { padding: 3em 0; }

/*---- Other Expertise ----*/

.expertise { background: #F7F7F7; }

.expertice-right-grid {
    background: url(../assets/images/expert.jpg) no-repeat 0px 0px;
    background-size: cover;
    margin: 0;
    min-height: 656px;
    padding: 0;
}

.expertise-head h3 {
    color: #222222;
    font-size: 2.5em;
    font-weight: 900;
    margin: 0.3em 0 0.6em;
    text-transform: uppercase;
}

.expertise-head p {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7em;
}

.e-left-inner-grid-left {
    float: left;
    width: 10%
}

.e-left-inner-grid-right {
    float: right;
    width: 85%;
}

.e-left-inner-grid {
    float: left;
    margin-bottom: 1em;
    width: 47%;
}

.e-left-inner-grid-left span {
    background: url(../assets/images/exprt-icons.png) no-repeat 0px 0px;
    display: inline-block;
    height: 40px;
    margin-top: 0.4em;
    width: 40px;
}

.e-left-inner-grid-right h4 {
    color: #222222;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
}

.e-left-inner-grid-right p {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7em;
}

.e-left-inner-grid-left span.e-icon1 { background-position: 0px 0px; }

.e-left-inner-grid-left span.e-icon2 { background-position: -5px -105px; }

.e-left-inner-grid-left span.e-icon3 { background-position: 0px -51px; }

.e-left-inner-grid-left span.e-icon4 { background-position: 2px -159px; }

a.leran-more {
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
    -webkit-border-radius: 3em;
    background: #FFFFFF;
    border: 1px solid #CBEEFA;
    border-radius: 3em;
    color: #222222;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    font-weight: 600;
    padding: 0.9em 2em;
    text-decoration: none;
    text-transform: uppercase;
}

a.leran-more:hover {
    background: #222222;
    color: #FFFFFF;
}

.expertice-left-grid { padding: 3em 3em 3em 5em; }

.expertise-left-inner-grids { padding: 2em 0; }

/*---- portflio ----*/

.portfolio-top-left {
    background: url(../assets/images/portbg-1.png) no-repeat 68% 69%;
    padding: 3em 3em 3em 5em;
}

.portfolio-top-left h3 {
    color: #222222;
    font-size: 2.5em;
    font-weight: 900;
    margin: 0.3em 0 0.6em;
    text-transform: uppercase;
}

.portfolio-top-left p {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7em;
}

.portfolio-top-left-grid-left {
    float: left;
    text-align: center;
    width: 10%;
}

.portfolio-top-left-grid-right {
    float: right;
    width: 90%;
}

.portfolio-top-left-grid-left span {
    background: url(../assets/images/port-icons.png) no-repeat 0px 0px;
    display: inline-block;
    height: 32px;
    margin-top: 0.5em;
    width: 32px;
}

.portfolio-top-left-grid-right h5 {
    color: #222222;
    font-size: 1.3em;
    margin: 0;
    padding: 0 0 0.5em 0;
    text-transform: uppercase;
}

.portfolio-top-left-grid-right p { width: 80%; }

.portfolio-top-left-grid { margin: 1em 0; }

.portfolio-top-left-grids { padding: 0.5em 0; }

.portfolio-top-left-grid-left span.p-icon1 { background-position: 0px 0px; }

.portfolio-top-left-grid-left span.p-icon2 { background-position: 0px -90px; }

.portfolio-top-left-grid-left span.p-icon3 { background-position: 0px -183px; }

.portfolio-top-right {
    background: url(../assets/images/port-right-divice.png) no-repeat 0px 0px;
    background-size: cover;
    min-height: 650px;
}

.portfolio-top-right-inner { padding: 0; }

.portfolio-work-grid { padding: 0; }

.portfolio-work-grid { position: relative; }

.portfolio-work-grid-pic img { width: 100%; }

.portfolio-work-grid-pic { position: relative; }

.portfolio-work-grid-caption {
    background: rgba(153, 153, 153, 0.8);
    bottom: 0;
    display: none;
    padding: 6em 2em 0em 2em;
    position: absolute;
    text-align: center;
    top: 0;
}

.portfolio-work-grid-caption h4 {
    color: #FFF;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.portfolio-work-grid:hover div.portfolio-work-grid-caption { display: block; }

.portfolio-work-grid-caption p {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7em;
}

/*----start-about----*/

.about { padding: 3em 0; }

.about-head { text-align: center; }

.about-head h1 {
    color: #222222;
    font-size: 2.6em;
    font-weight: 900;
    text-transform: uppercase;
}

.about-head span {
    background: #35C2F8;
    display: inline-block;
    height: 1px;
    width: 8%;
}

/*--about-time-line--*/

.about-time-line {
    list-style: none;
    margin: 6em auto 15em;
    padding: 0;
    position: relative;
    width: 60%;
}

.about-time-line li {
    display: inline;
    min-height: 300px;
}

.about-time-line:before {
    background: #F1F1F1;
    bottom: 0;
    content: '';
    left: 49%;
    margin-left: -10px;
    position: absolute;
    top: 0;
    width: 3px;
}

.about-time-line > li:nth-child(odd) .cbp_tmtime span:last-child { color: #6cbfee; }

.about-time-line > li .cbp_tmtime span:last-child {
    color: #3594cb;
    font-size: 2.9em;
}

.about-time-line > li .cbp_tmtime span {
    display: block;
    text-align: right;
}

.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
    -moz-box-shadow: 0 0 0 8px #F1F1F1;
    -o-box-shadow: 0 0 0 8px #F1F1F1;
    -webkit-box-shadow: 0 0 0 8px #F1F1F1;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #F1F1F1;
    color: #fff;
    display: block;
    font-size: 1.4em;
    height: 170px;
    left: 41%;
    line-height: 40px;
    margin: 0 0 0 -25px;
    position: absolute;
    speak: none;
    text-align: center;
    top: 0;
    width: 170px;
}

.cbp_tmicon1 {
    left: 41%;
    top: 27%;
}

.cbp_tmicon2 {
    left: 41%;
    top: 52%;
}

.cbp_tmicon3 {
    left: 41%;
    top: 77%;
}

.cbp_tmicon4 {
    left: 41%;
    top: 100%;
}

.img1 {
    background: url(../assets/images/time-line-img.jpg) no-repeat;
    background-size: 100% 100%;
}

.img2 {
    background: url(../assets/images/time-line-img1.jpg) no-repeat;
    background-size: 100% 100%;
}

.img3 {
    background: url(../assets/images/time-line-img2.jpg) no-repeat;
    background-size: 100% 100%;
}

.img4 {
    background: url(../assets/images/time-line-img4.jpg) no-repeat;
    background-size: 100% 100%;
}

.img5 {
    background: url(../assets/images/time-line-img5.png) no-repeat #7CC576;
    background-size: 100% 100%;
}

.about-time-line > li .cbp_tmlabel {
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    margin: 0 0 0px -8%;
    min-height: 250px;
    padding: 1em 0em 0em 0;
    position: relative;
    text-align: right;
    width: 40%;
}

.about-time-line > li .cbp_tmlabel1 {
    margin: 0 0 15px 64%;
    text-align: left;
}

.about-time-line > li:nth-child(odd) .cbp_tmlabel:after { border-right-color: #6cbfee; }

.cbp_tmlabel h2 {
    color: #222222;
    font-size: 0.93em;
    font-weight: 600;
    text-transform: uppercase;
}

.cbp_tmlabel p {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.72em;
    line-height: 1.6em;
    margin-top: 0.8em;
}

/*--//about-time-line--*/

/*---team-members--*/

.team-members {
    background: #F9F9F9;
    padding: 3em 0 4em 0;
}

.tm-head { text-align: center; }

.tm-head h3 {
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.3em;
    text-transform: uppercase;
}

.tm-head p {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.44em;
    margin: 0 auto;
}

.tm-head-grid img {
    -moz-border-radius: 30em;
    -o-border-radius: 30em;
    -webkit-border-radius: 30em;
    border-radius: 30em;
}

.tm-head-grid {
    float: left;
    margin-right: 4.5%;
    text-align: center;
    width: 30.33%;
}

.tm-head-grids {
    margin: 3.3em auto 2.3em auto;
    width: 75%;
}

.tm-head-grid:nth-child(3) { margin-right: 0; }

.tm-head-grid h4 {
    -moz-text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.39);
    -o-text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.39);
    -webkit-text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.39);
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    margin: 0.8em 0 0.2em 0;
    text-shadow: 0px 0px 1px rgba(66, 66, 66, 0.39);
}

.tm-head-grid h5 {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95em;
    line-height: 1.44em;
    margin: 0 auto;
}

/*---//team-members--*/

/*----team-info----*/

.team-info {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.8em;
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

/*--//team-info--*/

/*--skills-head--*/

.skills-head { text-align: center; }

.skills-head h3 {
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
}

.skills-head p {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95em;
    line-height: 1.44em;
    margin: 0 auto;
}

.top-social-icons li {
    display: inline-block;
    margin: 1.2em 0.3em;
}

.top-social-icons li a {
    display: block;
    height: 40px;
    width: 40px;
}

.twitter { background: url(../assets/images/top-social-icons.png) no-repeat 0px 0px; }

.facebook { background: url(../assets/images/top-social-icons.png) no-repeat -50px 0px; }

.pin { background: url(../assets/images/top-social-icons.png) no-repeat -100px 0px; }

.tm-head-grid ul {
    margin: 0;
    padding: 0;
}

/*---- contact ----*/

.contact {
    background: #111111;
    padding: 5em 0 0;
}

.contact-left h3 {
    color: #FFF;
    font-size: 2.8em;
    font-weight: 900;
    margin: 0;
    padding: 0 0 0.4em 0;
    text-transform: uppercase;
}

.contact-left label {
    color: #FFF;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    margin-bottom: 1.8em;
}

.contact-left-grid p, .contact-left-grid p a {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    margin: 0.8em 0;
}

.contact-left-grid p a { text-decoration: none; }

.contact-left-grid p a:hover { color: #35C2F8; }

.contact-left-grid p span {
    background: url(../assets/images/contact-icons1.png) no-repeat 0px 0px;
    display: inline-block;
    height: 32px;
    margin-right: 0.3em;
    vertical-align: middle;
    width: 28px;
}

.contact-left-grids div.col-md-6 { padding: 0; }

.contact-left-grid p span.c-mobi { background-position: 0px 0px; }

.contact-left-grid p span.c-twitter { background-position: 0px -66px; }

.contact-left-grid p span.c-pluse { background-position: 0px -132px; }

/*----*/

.contact-right-grid p, .contact-right-grid p a {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    margin: 0.8em 0;
}

.contact-right-grid p a { text-decoration: none; }

.contact-right-grid p a:hover { color: #35C2F8; }

.contact-right-grid p span {
    background: url(../assets/images/contact-icons2.png) no-repeat 0px 0px;
    display: inline-block;
    height: 32px;
    margin-right: 0.3em;
    vertical-align: middle;
    width: 28px;
}

.contact-right-grids div.col-md-6 { padding: 0; }

.contact-right-grid p span.c-msg { background-position: 0px 6px; }

.contact-right-grid p span.c-face { background-position: 0px -61px; }

.contact-right-grid p span.c-pin { background-position: 0px -126px; }

.contact-right input[type="text"], .contact-right textarea {
    -moz-border-radius: 0.3em;
    -moz-transition: border-color 0.4s;
    -ms-border-radius: 0.3em;
    -ms-transition: border-color 0.4s;
    -o-border-radius: 0.3em;
    -o-transition: border-color 0.4s;
    -webkit-border-radius: 0.3em;
    -webkit-transition: border-color 0.4s;
    border: 1px solid #111111;
    border-radius: 0.3em;
    color: #777;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0 0 1em 0;
    outline: none;
    padding: 0.8em;
    transition: border-color 0.4s;
    width: 100%;
}

.contact-right input[type="text"]:hover, .contact-right textarea:hover { border-color: #35C2F8; }

.contact-right textarea {
    min-height: 150px;
    outline: none;
}

.contact-right input[type="submit"] {
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    background: #35C2F8;
    border: none;
    border-radius: 3em;
    color: #FFF;
    cursor: pointer;
    padding: 0.9em 1.5em;
    text-transform: uppercase;
    transition: 0.5s all;
}

.contact-right input[type="submit"]:hover { background: #EE2F1B; }

/*---- copy-right -----*/

.copy-right p {
    border-top: 1px solid #FFF;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin-top: 5em;
    padding: 1.5em 0;
}

.copy-right p a { color: #35C2F8; }

.copy-right p a:hover {
    color: #FFF;
    text-decoration: none;
}

#toTop {
    background: url("../assets/images/to-top1.png") no-repeat 0px 0px;
    border: none;
    bottom: 14px;
    display: none;
    height: 40px;
    overflow: hidden;
    position: fixed;
    right: 3%;
    text-decoration: none;
    text-indent: 100%;
    width: 40px;
}

#toTopHover {
    -moz-opacity: 0;
    display: block;
    filter: alpha(opacity=0);
    float: right;
    height: 40px;
    opacity: 0;
    overflow: hidden;
    width: 40px;
}

/*---- responsive-design ----*/

@media (max-width: 1366px) {
    .container { width: 80%; }
}

@media (max-width: 1280px) {
    .container { width: 80%; }

    .portfolio-work-grid-caption { padding: 4.5em 2em 0em 2em; }
}

@media (max-width: 1024px) {
    .container { width: 80%; }

    .portfolio-work-grid-caption { padding: 2.4em 1em 0em 1em; }

    .banner-info h1 {
        font-size: 3.2em;
        width: 80%;
    }

    .banner-info p { width: 60%; }

    .e-left-inner-grid-right { width: 80%; }

    .portfolio-top-left-grid-right p { width: 100%; }

    .portfolio-top-left { background: url(../assets/images/portbg-1.png) no-repeat 68% 51%; }

    .about-time-line > li .cbp_tmlabel {
        margin: 0% 0 0px -23%;
        width: 55%;
    }

    .about-time-line > li .cbp_tmlabel1 { margin: 0 0 15px 70%; }

    .about-time-line:before { left: 52%; }
}

@media (max-width: 768px) {
    .container { width: 80%; }

    .portfolio-work-grid-caption { padding: 2.4em 1em 0em 1em; }

    .banner-info h1 {
        font-size: 2.8em;
        width: 100%;
    }

    .banner-info p { width: 90%; }

    .e-left-inner-grid-right { width: 80%; }

    .portfolio-top-left-grid-right p { width: 100%; }

    .portfolio-top-left {
        background: url(../assets/images/portbg-1.png) no-repeat 68% 51%;
        padding: 1.5em 4em 1.5em 4em;
    }

    .about-time-line > li .cbp_tmlabel {
        margin: 0% 100% 0px 35%;
        text-align: left;
        width: 56%;
    }

    .about-time-line > li .cbp_tmlabel1 { margin: 0 0 15px 35%; }

    .about-time-line:before { left: 19.5%; }

    .service-head h2 { font-size: 2.2em; }

    .services { padding: 1em 0; }

    .services-grids { padding: 1em 0; }

    .service-grid h3 { margin: 0 0 0.3em 0; }

    .service-grid { margin: 0 0 1em 0; }

    .expertice-left-grid { padding: 1.5em 4em 1.5em 4em; }

    .about { padding: 1em 0 14em; }

    .about-time-line {
        margin: 0;
        width: 100%;
    }

    .about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 { left: 10%; }

    .tm-head h3 { font-size: 3em; }

    .team-members { padding: 2em 0 3em 0; }

    .tm-head-grid {
        float: none;
        margin-right: 0;
        width: 100%;
    }

    .team-info { width: 80%; }

    .contact { padding: 3em 0 0; }

    .contact-left h3 { font-size: 2.5em; }

    .contact-left { margin: 0 0 1em 0; }
}

@media (max-width: 640px) {
    .container { width: 80%; }

    .portfolio-work-grid-caption { padding: 2.4em 1em 0em 1em; }

    .banner-info { padding: 5em 0 7em; }

    .banner-info h1 {
        font-size: 2.3em;
        width: 100%;
    }

    .banner-info p {
        font-size: 1.2em;
        width: 100%;
    }

    .e-left-inner-grid-right { width: 80%; }

    .portfolio-top-left-grid-right p { width: 100%; }

    .portfolio-top-left {
        background: url(../assets/images/portbg-1.png) no-repeat 68% 51%;
        padding: 1.5em 3em 1.5em 3em;
    }

    .about-time-line > li .cbp_tmlabel {
        margin: 0% 100% 0px 37%;
        text-align: left;
        width: 54%;
    }

    .about-time-line > li .cbp_tmlabel1 { margin: 0 0 15px 35%; }

    .about-time-line:before { left: 19.5%; }

    .service-head h2 { font-size: 2.2em; }

    .services { padding: 1em 0; }

    .services-grids { padding: 1em 0; }

    .service-grid h3 { margin: 0 0 0.3em 0; }

    .service-grid { margin: 0 0 1em 0; }

    .expertice-left-grid { padding: 1.5em 3em 1.5em 3em; }

    .about { padding: 1em 0 14em; }

    .about-time-line {
        margin: 0;
        width: 100%;
    }

    .about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
        height: 140px;
        left: 10%;
        width: 140px;
    }

    .tm-head h3 { font-size: 2.8em; }

    .team-members { padding: 2em 0 3em 0; }

    .tm-head-grid {
        float: none;
        margin-right: 0;
        width: 100%;
    }

    .team-info { width: 80%; }

    .contact { padding: 3em 0 0; }

    .contact-left h3 { font-size: 2.5em; }

    .contact-left { margin: 0 0 1em 0; }
}

@media (max-width: 480px) {
    .container { width: 80%; }

    .portfolio-work-grid-caption { padding: 2.4em 1em 0em 1em; }

    .banner-info { padding: 3em 0 4em; }

    .banner-info h1 {
        font-size: 1.7em;
        width: 100%;
    }

    .banner-info p {
        font-size: 0.875em;
        width: 100%;
    }

    .e-left-inner-grid-right { width: 80%; }

    .portfolio-top-left-grid-right p { width: 100%; }

    .portfolio-top-left {
        background: url(../assets/images/portbg-1.png) no-repeat 68% 51%;
        padding: 1.5em 2em 1.5em 1.8em;
    }

    .about-time-line > li .cbp_tmlabel {
        margin: 0% 100% 0px 37%;
        text-align: left;
        width: 54%;
    }

    .about-time-line > li .cbp_tmlabel1 { margin: 0 0 15px 35%; }

    .about-time-line:before { left: 19.5%; }

    .service-head h2 { font-size: 2em; }

    .services { padding: 1em 0; }

    .services-grids { padding: 1em 0; }

    .service-grid h3 { margin: 0 0 0.3em 0; }

    .service-grid { margin: 0 0 1em 0; }

    .expertice-left-grid { padding: 1.5em 3em 1.5em 3em; }

    .about { padding: 1em 0 14em; }

    .about-time-line {
        margin: 0;
        width: 100%;
    }

    .about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
        height: 120px;
        left: 10%;
        width: 120px;
    }

    .tm-head h3 { font-size: 2.2em; }

    .team-members { padding: 1em 0 2em 0; }

    .tm-head-grid {
        float: none;
        margin-right: 0;
        width: 100%;
    }

    .team-info { width: 80%; }

    .contact { padding: 3em 0 0; }

    .contact-left h3 { font-size: 2.2em; }

    .contact-left { margin: 0 0 1em 0; }

    .service-grid h3 a { font-size: 0.8em; }

    .expertise-head h3 { font-size: 2em; }

    .e-left-inner-grid {
        float: none;
        margin-bottom: 0.5em;
        width: 100%;
    }

    .expertise-left-inner-grids { padding: 1em 0; }

    .portfolio-top-left h3 { font-size: 2em; }

    .portfolio-top-left h3 { font-size: 1.7em; }

    .about-head h1 { font-size: 2.2em; }

    .copy-right p {
        margin-top: 3em;
        padding: 1.5em 0 1.2em;
    }

    .contact-right input[type="text"], .contact-right textarea, .contact-right input[type="submit"] {
        -webkit-appearance: none;
        resize: none;
    }

    .contact-right input[type="submit"] {
        outline: none;
        padding: 0.7em 0em;
        width: 100%;
    }
}

@media (max-width: 320px) {
    .container { width: 90%; }

    .portfolio-work-grid-caption { padding: 0.5em 1em 0em 1em; }

    .banner-info { padding: 2em 0 3em; }

    .banner-info h1 {
        font-size: 1.2em;
        width: 100%;
    }

    .banner-info p {
        font-size: 0.875em;
        width: 100%;
    }

    .e-left-inner-grid-right { width: 80%; }

    .portfolio-top-left-grid-right p { width: 100%; }

    .portfolio-top-left {
        background: url(../assets/images/portbg-1.png) no-repeat 68% 51%;
        padding: 1.5em 1em 1.5em 1em;
    }

    .about-time-line > li .cbp_tmlabel {
        margin: 0% 100% 0px 32%;
        text-align: left;
        width: 62%;
    }

    .about-time-line > li .cbp_tmlabel1 { margin: 0 0 15px 35%; }

    .about-time-line:before { left: 16%; }

    .service-head h2 {
        font-size: 1.5em;
        margin: 0.2em 0 0;
    }

    .services { padding: 1em 0; }

    .services-grids { padding: 1em 0; }

    .service-grid h3 { margin: 0 0 0.3em 0; }

    .service-grid { margin: 0 0 1em 0; }

    .expertice-left-grid { padding: 1.5em 2em 1.5em 2em; }

    .about { padding: 1em 0 14em; }

    .about-time-line {
        margin: 0;
        width: 100%;
    }

    .about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
        height: 70px;
        left: 10%;
        width: 70px;
    }

    .tm-head h3 { font-size: 1.5em; }

    .team-members { padding: 1em 0 2em 0; }

    .tm-head-grid {
        float: none;
        margin-right: 0;
        width: 100%;
    }

    .team-info { width: 80%; }

    .contact { padding: 1.8em 0 0; }

    .contact-left h3 { font-size: 1.5em; }

    .contact-left { margin: 0 0 1em 0; }

    .service-grid h3 a { font-size: 0.8em; }

    .expertise-head h3 { font-size: 1.3em; }

    .e-left-inner-grid {
        float: none;
        margin-bottom: 0.5em;
        width: 100%;
    }

    .expertise-left-inner-grids { padding: 1em 0; }

    .portfolio-top-left h3 { font-size: 2em; }

    .portfolio-top-left h3 { font-size: 1.5em; }

    .about-head h1 { font-size: 1.8em; }

    .copy-right p {
        margin-top: 3em;
        padding: 1.5em 0 1.2em;
    }

    .e-left-inner-grid-right h4 { font-size: 1.1em; }

    .e-left-inner-grid-left span { margin-top: 0.2em; }

    a.leran-more {
        font-size: 0.9em;
        padding: 0.8em 1.3em;
    }

    .portfolio-top-left-grid-right h5 { font-size: 1.1em; }

    .portfolio-top-left-grid-right { width: 82%; }

    .portfolio-work-grid-caption h4 { font-size: 1.3em; }

    .cbp_tmlabel h2 {
        font-size: 0.875em;
        margin: 0;
    }

    .tm-head p {
        margin: 0 auto;
        width: 80%;
    }

    .contact-right-grid p, .contact-right-grid p a { font-size: 1em; }

    .contact-left-grid p, .contact-left-grid p a { font-size: 1em; }

    .contact-left label { font-size: 0.875em; }

    .top-nav ul li a { padding: 0.2em 0; }

    .contact-right input[type="text"], .contact-right textarea, .contact-right input[type="submit"] {
        -webkit-appearance: none;
        resize: none;
    }

    .contact-right input[type="submit"] {
        outline: none;
        padding: 0.7em 0em;
        width: 100%;
    }
}
